{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SblDtICMContactICMContact",
    "description" : "OpenAPI specification for SiebelData - API : data/ICMContact/ICMContact",
    "contact" : {
      "email" : "sample@sample.com"
    },
    "version" : "1.0"
  },
  "externalDocs" : {
    "description" : "OpenAPI",
    "url" : "https://openapis.org"
  },
  "servers" : [ {
    "url" : "https://sit1-ai2.icm.gov.bc.ca:8443/gov/v1.0"
  }, {
    "url" : "http://sit1-ai2.icm.gov.bc.ca:8443/gov/v1.0"
  } ],
  "tags" : [ {
    "name" : "data/ICMContact/ICMContact/"
  }, {
    "name" : "data/ICMContact/ICMContact/{icmcontact_key}/"
  } ],
  "paths" : {
    "/data/ICMContact/ICMContact/" : {
      "get" : {
        "tags" : [ "data/ICMContact/ICMContact/" ],
        "operationId" : "data_ICMContact_ICMContact__get",
        "parameters" : [ {
          "name" : "childlinks",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "uniformresponse",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "Y",
            "enum" : [ "Y" ]
          }
        }, {
          "name" : "searchspec",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sortspec",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PageSize",
          "in" : "query",
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer"
          }
        }, {
          "name" : "StartRowNum",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "pagination",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "Y",
            "enum" : [ "Y", "N" ]
          }
        }, {
          "name" : "ViewMode",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "Sales Rep"
          }
        }, {
          "name" : "recordcountneeded",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ExecutionMode",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "BiDirectional"
          }
        }, {
          "name" : "excludeEmptyFieldsInResponse",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "false"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/data_ICMContact_ICMContact_get_all_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/data_ICMContact_ICMContact_get_all_response"
                }
              }
            }
          },
          "204" : {
            "description" : "No Resource Found",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : { }
          },
          "404" : {
            "description" : "There is no data for the requested resource",
            "content" : { }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : { }
          }
        },
        "security" : [ {
          "basicAuth" : [ ],
          "oAuth2.0" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "data/ICMContact/ICMContact/" ],
        "operationId" : "data_ICMContact_ICMContact__put",
        "parameters" : [ {
          "name" : "excludeEmptyFieldsInResponse",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "false"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/data_ICMContact_ICMContact_"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/data_ICMContact_ICMContact_"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/data_ICMContact_ICMContact_put_post_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/data_ICMContact_ICMContact_put_post_response"
                }
              }
            }
          },
          "204" : {
            "description" : "No Resource Found",
            "content" : { }
          },
          "304" : {
            "description" : "Not Modified",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : { }
          },
          "404" : {
            "description" : "There is no data for the requested resource",
            "content" : { }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : { }
          }
        },
        "security" : [ {
          "basicAuth" : [ ],
          "oAuth2.0" : [ ]
        } ],
        "x-codegen-request-body-name" : "body"
      },
      "post" : {
        "tags" : [ "data/ICMContact/ICMContact/" ],
        "operationId" : "data_ICMContact_ICMContact__post",
        "parameters" : [ {
          "name" : "excludeEmptyFieldsInResponse",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "false"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/data_ICMContact_ICMContact_"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/data_ICMContact_ICMContact_"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/data_ICMContact_ICMContact_put_post_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/data_ICMContact_ICMContact_put_post_response"
                }
              }
            }
          },
          "204" : {
            "description" : "No Resource Found",
            "content" : { }
          },
          "304" : {
            "description" : "Not Modified",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : { }
          },
          "404" : {
            "description" : "There is no data for the requested resource",
            "content" : { }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : { }
          }
        },
        "security" : [ {
          "basicAuth" : [ ],
          "oAuth2.0" : [ ]
        } ],
        "x-codegen-request-body-name" : "body"
      }
    },
    "/data/ICMContact/ICMContact/{icmcontact_key}/" : {
      "get" : {
        "tags" : [ "data/ICMContact/ICMContact/{icmcontact_key}/" ],
        "operationId" : "data_ICMContact_ICMContact_{icmcontact_key}__get",
        "parameters" : [ {
          "name" : "icmcontact_key",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "childlinks",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ViewMode",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "Sales Rep"
          }
        }, {
          "name" : "excludeEmptyFieldsInResponse",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "false"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/data_ICMContact_ICMContact_get_one_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/data_ICMContact_ICMContact_get_one_response"
                }
              }
            }
          },
          "204" : {
            "description" : "No Resource Found",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : { }
          },
          "404" : {
            "description" : "There is no data for the requested resource",
            "content" : { }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : { }
          }
        },
        "security" : [ {
          "basicAuth" : [ ],
          "oAuth2.0" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "data/ICMContact/ICMContact/{icmcontact_key}/" ],
        "operationId" : "data_ICMContact_ICMContact_{icmcontact_key}__put",
        "parameters" : [ {
          "name" : "icmcontact_key",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "excludeEmptyFieldsInResponse",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "false"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/data_ICMContact_ICMContact_"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/data_ICMContact_ICMContact_"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/data_ICMContact_ICMContact_put_post_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/data_ICMContact_ICMContact_put_post_response"
                }
              }
            }
          },
          "204" : {
            "description" : "No Resource Found",
            "content" : { }
          },
          "304" : {
            "description" : "Not Modified",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : { }
          },
          "404" : {
            "description" : "There is no data for the requested resource",
            "content" : { }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : { }
          }
        },
        "security" : [ {
          "basicAuth" : [ ],
          "oAuth2.0" : [ ]
        } ],
        "x-codegen-request-body-name" : "body"
      },
      "delete" : {
        "tags" : [ "data/ICMContact/ICMContact/{icmcontact_key}/" ],
        "operationId" : "data_ICMContact_ICMContact_{icmcontact_key}__delete",
        "parameters" : [ {
          "name" : "icmcontact_key",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/data_ICMContact_ICMContact_del_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/data_ICMContact_ICMContact_del_response"
                }
              }
            }
          },
          "204" : {
            "description" : "No Resource Found",
            "content" : { }
          },
          "304" : {
            "description" : "Not Modified",
            "content" : { }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : { }
          },
          "404" : {
            "description" : "There is no data for the requested resource",
            "content" : { }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : { }
          }
        },
        "security" : [ {
          "basicAuth" : [ ],
          "oAuth2.0" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "data_ICMContact_ICMContact_" : {
        "required" : [ "Conflict Id", "Created", "Created By", "Mod Id", "Updated", "Updated By" ],
        "type" : "object",
        "properties" : {
          "Cellular Phone #" : {
            "title" : "Cellular Phone #",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "40",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Email Address" : {
            "title" : "Email Address",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "350",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Home Phone #" : {
            "title" : "Home Phone #",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "40",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Message Phone" : {
            "title" : "Message Phone",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "40",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Work Phone #" : {
            "title" : "Work Phone #",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "40",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "AKA First Name" : {
            "title" : "AKA First Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "AKA Last Name" : {
            "title" : "AKA Last Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Age" : {
            "title" : "Age",
            "type" : "string",
            "x-siebel-precision" : "16",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "16",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_INTEGER"
          },
          "Preferred Language" : {
            "title" : "Preferred Language",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "100",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc FnT Address" : {
            "title" : "Calc FnT Address",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc FnT Address 2" : {
            "title" : "Calc FnT Address 2",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc FnT Apt Number" : {
            "title" : "Calc FnT Apt Number",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc FnT City" : {
            "title" : "Calc FnT City",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc FnT Country" : {
            "title" : "Calc FnT Country",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc FnT Postal Code" : {
            "title" : "Calc FnT Postal Code",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc FnT Province" : {
            "title" : "Calc FnT Province",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc Primary Address Comment" : {
            "title" : "Calc Primary Address Comment",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Contact Row Num" : {
            "title" : "Contact Row Num",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "100",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "ICM BCSC DID" : {
            "title" : "ICM BCSC DID",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Integration State" : {
            "title" : "Integration State",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Potential Duplicate Comments" : {
            "title" : "Potential Duplicate Comments",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "500",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Birth City" : {
            "title" : "Birth City",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Birth Province" : {
            "title" : "Birth Province",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Child Doctor Name" : {
            "title" : "Child Doctor Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "150",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Child Doctor Phone" : {
            "title" : "Child Doctor Phone",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "40",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Contact Hair Color" : {
            "title" : "Contact Hair Color",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Ethnicity" : {
            "title" : "Ethnicity",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Eye Color" : {
            "title" : "Eye Color",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Height" : {
            "title" : "Height",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "20",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Height Unit" : {
            "title" : "Height Unit",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Identifying Characterisctics" : {
            "title" : "Identifying Characterisctics",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "100",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Immunization Started" : {
            "title" : "Immunization Started",
            "type" : "string",
            "x-maxLength" : "1",
            "x-siebel-datatype" : "DTYPE_BOOL"
          },
          "Medications" : {
            "title" : "Medications",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "100",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Place of Birth" : {
            "title" : "Place of Birth",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Religious Affiliation" : {
            "title" : "Religious Affiliation",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "100",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Weight" : {
            "title" : "Weight",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "20",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Weight Unit" : {
            "title" : "Weight Unit",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Primary Language Id" : {
            "title" : "Primary Language Id",
            "type" : "string",
            "x-maxLength" : "15",
            "x-siebel-datatype" : "DTYPE_ID"
          },
          "Created" : {
            "title" : "Created",
            "type" : "string",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_UTCDATETIME"
          },
          "Created By" : {
            "title" : "Created By",
            "type" : "string",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "15",
            "x-siebel-datatype" : "DTYPE_ID"
          },
          "Updated" : {
            "title" : "Updated",
            "type" : "string",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_UTCDATETIME"
          },
          "Updated By" : {
            "title" : "Updated By",
            "type" : "string",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "15",
            "x-siebel-datatype" : "DTYPE_ID"
          },
          "Conflict Id" : {
            "title" : "Conflict Id",
            "type" : "string",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "15",
            "x-siebel-datatype" : "DTYPE_ID"
          },
          "Mod Id" : {
            "title" : "Mod Id",
            "type" : "string",
            "x-siebel-precision" : "16",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "16",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_INTEGER"
          },
          "ICM Created By" : {
            "title" : "ICM Created By",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "ICM Updated By" : {
            "title" : "ICM Updated By",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Aboriginal Origin Code" : {
            "title" : "Aboriginal Origin Code",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Assessed At Home Eligible" : {
            "title" : "Assessed At Home Eligible",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Birth Date" : {
            "title" : "Birth Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "CYSN At Home Medical Benefits End Date" : {
            "title" : "CYSN At Home Medical Benefits End Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "CYSN At Home Medical Benefits Start Date" : {
            "title" : "CYSN At Home Medical Benefits Start Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "CYSN At Home Respite Benefits End Date" : {
            "title" : "CYSN At Home Respite Benefits End Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "CYSN At Home Respite Benefits Start Date" : {
            "title" : "CYSN At Home Respite Benefits Start Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "CYSN Autism End Date" : {
            "title" : "CYSN Autism End Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "CYSN Autism Outcome" : {
            "title" : "CYSN Autism Outcome",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "CYSN Development Disability End Date" : {
            "title" : "CYSN Development Disability End Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "CYSN Developmental Disability Outcome" : {
            "title" : "CYSN Developmental Disability Outcome",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Person ID ICM" : {
            "title" : "Person ID ICM",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "100",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Deceased Date" : {
            "title" : "Deceased Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "Deceased Flag" : {
            "title" : "Deceased Flag",
            "type" : "string",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "1",
            "x-siebel-datatype" : "DTYPE_BOOL"
          },
          "Employee Flag" : {
            "title" : "Employee Flag",
            "type" : "string",
            "x-maxLength" : "1",
            "x-siebel-datatype" : "DTYPE_BOOL"
          },
          "First Name" : {
            "title" : "First Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Integration Id" : {
            "title" : "Integration Id",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Joined AKA First Name" : {
            "title" : "Joined AKA First Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Joined AKA Last Name" : {
            "title" : "Joined AKA Last Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Joined AKA Middle Name" : {
            "title" : "Joined AKA Middle Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Last Name" : {
            "title" : "Last Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "M/F" : {
            "title" : "M/F",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "M/M" : {
            "title" : "M/M",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "15",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Middle Name" : {
            "title" : "Middle Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Notify on Read" : {
            "title" : "Notify on Read",
            "type" : "string",
            "x-maxLength" : "1",
            "x-siebel-datatype" : "DTYPE_BOOL"
          },
          "PHN" : {
            "title" : "PHN",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "20",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Personal Contact" : {
            "title" : "Personal Contact",
            "type" : "string",
            "x-maxLength" : "1",
            "x-siebel-datatype" : "DTYPE_BOOL"
          },
          "Potential Duplicate Flag" : {
            "title" : "Potential Duplicate Flag",
            "type" : "string",
            "x-maxLength" : "1",
            "x-siebel-datatype" : "DTYPE_BOOL"
          },
          "Primary Contact Address Id" : {
            "title" : "Primary Contact Address Id",
            "type" : "string",
            "x-maxLength" : "15",
            "x-siebel-datatype" : "DTYPE_ID"
          },
          "SIN" : {
            "title" : "SIN",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "20",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "CSA DIN" : {
            "title" : "CSA DIN",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "9",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "CSA Sent Date" : {
            "title" : "CSA Sent Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_UTCDATETIME"
          },
          "CSA Status" : {
            "title" : "CSA Status",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "CSA Status Effective Date" : {
            "title" : "CSA Status Effective Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_UTCDATETIME"
          }
        }
      },
      "data_ICMContact_ICMContact_get_one_response" : {
        "type" : "object",
        "properties" : {
          "Cellular Phone #" : {
            "title" : "Cellular Phone #",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "40",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Email Address" : {
            "title" : "Email Address",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "350",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Home Phone #" : {
            "title" : "Home Phone #",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "40",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Message Phone" : {
            "title" : "Message Phone",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "40",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Work Phone #" : {
            "title" : "Work Phone #",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "40",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "AKA First Name" : {
            "title" : "AKA First Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "AKA Last Name" : {
            "title" : "AKA Last Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Age" : {
            "title" : "Age",
            "type" : "string",
            "x-siebel-precision" : "16",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "16",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_INTEGER"
          },
          "Preferred Language" : {
            "title" : "Preferred Language",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "100",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc FnT Address" : {
            "title" : "Calc FnT Address",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc FnT Address 2" : {
            "title" : "Calc FnT Address 2",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc FnT Apt Number" : {
            "title" : "Calc FnT Apt Number",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc FnT City" : {
            "title" : "Calc FnT City",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc FnT Country" : {
            "title" : "Calc FnT Country",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc FnT Postal Code" : {
            "title" : "Calc FnT Postal Code",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc FnT Province" : {
            "title" : "Calc FnT Province",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Calc Primary Address Comment" : {
            "title" : "Calc Primary Address Comment",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Contact Row Num" : {
            "title" : "Contact Row Num",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "100",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "ICM BCSC DID" : {
            "title" : "ICM BCSC DID",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "255",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Integration State" : {
            "title" : "Integration State",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Potential Duplicate Comments" : {
            "title" : "Potential Duplicate Comments",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "500",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Birth City" : {
            "title" : "Birth City",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Birth Province" : {
            "title" : "Birth Province",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Child Doctor Name" : {
            "title" : "Child Doctor Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "150",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Child Doctor Phone" : {
            "title" : "Child Doctor Phone",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "40",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Contact Hair Color" : {
            "title" : "Contact Hair Color",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Ethnicity" : {
            "title" : "Ethnicity",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Eye Color" : {
            "title" : "Eye Color",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Height" : {
            "title" : "Height",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "20",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Height Unit" : {
            "title" : "Height Unit",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Identifying Characterisctics" : {
            "title" : "Identifying Characterisctics",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "100",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Immunization Started" : {
            "title" : "Immunization Started",
            "type" : "string",
            "x-maxLength" : "1",
            "x-siebel-datatype" : "DTYPE_BOOL"
          },
          "Medications" : {
            "title" : "Medications",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "100",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Place of Birth" : {
            "title" : "Place of Birth",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Religious Affiliation" : {
            "title" : "Religious Affiliation",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "100",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Weight" : {
            "title" : "Weight",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "20",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Weight Unit" : {
            "title" : "Weight Unit",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Primary Language Id" : {
            "title" : "Primary Language Id",
            "type" : "string",
            "x-maxLength" : "15",
            "x-siebel-datatype" : "DTYPE_ID"
          },
          "Created" : {
            "title" : "Created",
            "type" : "string",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_UTCDATETIME"
          },
          "Created By" : {
            "title" : "Created By",
            "type" : "string",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "15",
            "x-siebel-datatype" : "DTYPE_ID"
          },
          "Updated" : {
            "title" : "Updated",
            "type" : "string",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_UTCDATETIME"
          },
          "Updated By" : {
            "title" : "Updated By",
            "type" : "string",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "15",
            "x-siebel-datatype" : "DTYPE_ID"
          },
          "Conflict Id" : {
            "title" : "Conflict Id",
            "type" : "string",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "15",
            "x-siebel-datatype" : "DTYPE_ID"
          },
          "Mod Id" : {
            "title" : "Mod Id",
            "type" : "string",
            "x-siebel-precision" : "16",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "16",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_INTEGER"
          },
          "ICM Created By" : {
            "title" : "ICM Created By",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "ICM Updated By" : {
            "title" : "ICM Updated By",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Aboriginal Origin Code" : {
            "title" : "Aboriginal Origin Code",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Assessed At Home Eligible" : {
            "title" : "Assessed At Home Eligible",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Birth Date" : {
            "title" : "Birth Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "CYSN At Home Medical Benefits End Date" : {
            "title" : "CYSN At Home Medical Benefits End Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "CYSN At Home Medical Benefits Start Date" : {
            "title" : "CYSN At Home Medical Benefits Start Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "CYSN At Home Respite Benefits End Date" : {
            "title" : "CYSN At Home Respite Benefits End Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "CYSN At Home Respite Benefits Start Date" : {
            "title" : "CYSN At Home Respite Benefits Start Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "CYSN Autism End Date" : {
            "title" : "CYSN Autism End Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "CYSN Autism Outcome" : {
            "title" : "CYSN Autism Outcome",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "CYSN Development Disability End Date" : {
            "title" : "CYSN Development Disability End Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "CYSN Developmental Disability Outcome" : {
            "title" : "CYSN Developmental Disability Outcome",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Person ID ICM" : {
            "title" : "Person ID ICM",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "100",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Deceased Date" : {
            "title" : "Deceased Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_DATE"
          },
          "Deceased Flag" : {
            "title" : "Deceased Flag",
            "type" : "string",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "1",
            "x-siebel-datatype" : "DTYPE_BOOL"
          },
          "Employee Flag" : {
            "title" : "Employee Flag",
            "type" : "string",
            "x-maxLength" : "1",
            "x-siebel-datatype" : "DTYPE_BOOL"
          },
          "First Name" : {
            "title" : "First Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Integration Id" : {
            "title" : "Integration Id",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Joined AKA First Name" : {
            "title" : "Joined AKA First Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Joined AKA Last Name" : {
            "title" : "Joined AKA Last Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Joined AKA Middle Name" : {
            "title" : "Joined AKA Middle Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-siebel-readOnly" : "true",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Last Name" : {
            "title" : "Last Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "M/F" : {
            "title" : "M/F",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "M/M" : {
            "title" : "M/M",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "15",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Middle Name" : {
            "title" : "Middle Name",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "50",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Notify on Read" : {
            "title" : "Notify on Read",
            "type" : "string",
            "x-maxLength" : "1",
            "x-siebel-datatype" : "DTYPE_BOOL"
          },
          "PHN" : {
            "title" : "PHN",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "20",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "Personal Contact" : {
            "title" : "Personal Contact",
            "type" : "string",
            "x-maxLength" : "1",
            "x-siebel-datatype" : "DTYPE_BOOL"
          },
          "Potential Duplicate Flag" : {
            "title" : "Potential Duplicate Flag",
            "type" : "string",
            "x-maxLength" : "1",
            "x-siebel-datatype" : "DTYPE_BOOL"
          },
          "Primary Contact Address Id" : {
            "title" : "Primary Contact Address Id",
            "type" : "string",
            "x-maxLength" : "15",
            "x-siebel-datatype" : "DTYPE_ID"
          },
          "SIN" : {
            "title" : "SIN",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "20",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "CSA DIN" : {
            "title" : "CSA DIN",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "9",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "CSA Sent Date" : {
            "title" : "CSA Sent Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_UTCDATETIME"
          },
          "CSA Status" : {
            "title" : "CSA Status",
            "type" : "string",
            "x-siebel-precision" : "0",
            "x-maxLength" : "30",
            "x-siebel-scale" : "0",
            "x-siebel-datatype" : "DTYPE_TEXT"
          },
          "CSA Status Effective Date" : {
            "title" : "CSA Status Effective Date",
            "type" : "string",
            "x-maxLength" : "32",
            "x-siebel-datatype" : "DTYPE_UTCDATETIME"
          },
          "Link" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "rel" : {
                  "title" : "rel",
                  "type" : "string"
                },
                "href" : {
                  "title" : "href",
                  "type" : "string"
                },
                "name" : {
                  "title" : "name",
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "data_ICMContact_ICMContact_put_post_response" : {
        "type" : "object",
        "properties" : {
          "items" : {
            "type" : "object",
            "properties" : {
              "Cellular Phone #" : {
                "title" : "Cellular Phone #",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "40",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Email Address" : {
                "title" : "Email Address",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "350",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Home Phone #" : {
                "title" : "Home Phone #",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "40",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Message Phone" : {
                "title" : "Message Phone",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "40",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Work Phone #" : {
                "title" : "Work Phone #",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "40",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "AKA First Name" : {
                "title" : "AKA First Name",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "50",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "AKA Last Name" : {
                "title" : "AKA Last Name",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "50",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Age" : {
                "title" : "Age",
                "type" : "string",
                "x-siebel-precision" : "16",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "16",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_INTEGER"
              },
              "Preferred Language" : {
                "title" : "Preferred Language",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "100",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Calc FnT Address" : {
                "title" : "Calc FnT Address",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "255",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Calc FnT Address 2" : {
                "title" : "Calc FnT Address 2",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "255",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Calc FnT Apt Number" : {
                "title" : "Calc FnT Apt Number",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "255",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Calc FnT City" : {
                "title" : "Calc FnT City",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "255",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Calc FnT Country" : {
                "title" : "Calc FnT Country",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "255",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Calc FnT Postal Code" : {
                "title" : "Calc FnT Postal Code",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "255",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Calc FnT Province" : {
                "title" : "Calc FnT Province",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "255",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Calc Primary Address Comment" : {
                "title" : "Calc Primary Address Comment",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "255",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Contact Row Num" : {
                "title" : "Contact Row Num",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "100",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "ICM BCSC DID" : {
                "title" : "ICM BCSC DID",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "255",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Integration State" : {
                "title" : "Integration State",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "30",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Potential Duplicate Comments" : {
                "title" : "Potential Duplicate Comments",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "500",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Birth City" : {
                "title" : "Birth City",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "50",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Birth Province" : {
                "title" : "Birth Province",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "30",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Child Doctor Name" : {
                "title" : "Child Doctor Name",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "150",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Child Doctor Phone" : {
                "title" : "Child Doctor Phone",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "40",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Contact Hair Color" : {
                "title" : "Contact Hair Color",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "30",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Ethnicity" : {
                "title" : "Ethnicity",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "30",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Eye Color" : {
                "title" : "Eye Color",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "30",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Height" : {
                "title" : "Height",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "20",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Height Unit" : {
                "title" : "Height Unit",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "30",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Identifying Characterisctics" : {
                "title" : "Identifying Characterisctics",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "100",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Immunization Started" : {
                "title" : "Immunization Started",
                "type" : "string",
                "x-maxLength" : "1",
                "x-siebel-datatype" : "DTYPE_BOOL"
              },
              "Medications" : {
                "title" : "Medications",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "100",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Place of Birth" : {
                "title" : "Place of Birth",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "50",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Religious Affiliation" : {
                "title" : "Religious Affiliation",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "100",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Weight" : {
                "title" : "Weight",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "20",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Weight Unit" : {
                "title" : "Weight Unit",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "30",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Primary Language Id" : {
                "title" : "Primary Language Id",
                "type" : "string",
                "x-maxLength" : "15",
                "x-siebel-datatype" : "DTYPE_ID"
              },
              "Id" : {
                "type" : "object"
              },
              "Created" : {
                "title" : "Created",
                "type" : "string",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "32",
                "x-siebel-datatype" : "DTYPE_UTCDATETIME"
              },
              "Created By" : {
                "title" : "Created By",
                "type" : "string",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "15",
                "x-siebel-datatype" : "DTYPE_ID"
              },
              "Updated" : {
                "title" : "Updated",
                "type" : "string",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "32",
                "x-siebel-datatype" : "DTYPE_UTCDATETIME"
              },
              "Updated By" : {
                "title" : "Updated By",
                "type" : "string",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "15",
                "x-siebel-datatype" : "DTYPE_ID"
              },
              "Conflict Id" : {
                "title" : "Conflict Id",
                "type" : "string",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "15",
                "x-siebel-datatype" : "DTYPE_ID"
              },
              "Mod Id" : {
                "title" : "Mod Id",
                "type" : "string",
                "x-siebel-precision" : "16",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "16",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_INTEGER"
              },
              "ICM Created By" : {
                "title" : "ICM Created By",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "50",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "ICM Updated By" : {
                "title" : "ICM Updated By",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "50",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Aboriginal Origin Code" : {
                "title" : "Aboriginal Origin Code",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "30",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Assessed At Home Eligible" : {
                "title" : "Assessed At Home Eligible",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "30",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Birth Date" : {
                "title" : "Birth Date",
                "type" : "string",
                "x-maxLength" : "32",
                "x-siebel-datatype" : "DTYPE_DATE"
              },
              "CYSN At Home Medical Benefits End Date" : {
                "title" : "CYSN At Home Medical Benefits End Date",
                "type" : "string",
                "x-maxLength" : "32",
                "x-siebel-datatype" : "DTYPE_DATE"
              },
              "CYSN At Home Medical Benefits Start Date" : {
                "title" : "CYSN At Home Medical Benefits Start Date",
                "type" : "string",
                "x-maxLength" : "32",
                "x-siebel-datatype" : "DTYPE_DATE"
              },
              "CYSN At Home Respite Benefits End Date" : {
                "title" : "CYSN At Home Respite Benefits End Date",
                "type" : "string",
                "x-maxLength" : "32",
                "x-siebel-datatype" : "DTYPE_DATE"
              },
              "CYSN At Home Respite Benefits Start Date" : {
                "title" : "CYSN At Home Respite Benefits Start Date",
                "type" : "string",
                "x-maxLength" : "32",
                "x-siebel-datatype" : "DTYPE_DATE"
              },
              "CYSN Autism End Date" : {
                "title" : "CYSN Autism End Date",
                "type" : "string",
                "x-maxLength" : "32",
                "x-siebel-datatype" : "DTYPE_DATE"
              },
              "CYSN Autism Outcome" : {
                "title" : "CYSN Autism Outcome",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "30",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "CYSN Development Disability End Date" : {
                "title" : "CYSN Development Disability End Date",
                "type" : "string",
                "x-maxLength" : "32",
                "x-siebel-datatype" : "DTYPE_DATE"
              },
              "CYSN Developmental Disability Outcome" : {
                "title" : "CYSN Developmental Disability Outcome",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "30",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Person ID ICM" : {
                "title" : "Person ID ICM",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "100",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Deceased Date" : {
                "title" : "Deceased Date",
                "type" : "string",
                "x-maxLength" : "32",
                "x-siebel-datatype" : "DTYPE_DATE"
              },
              "Deceased Flag" : {
                "title" : "Deceased Flag",
                "type" : "string",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "1",
                "x-siebel-datatype" : "DTYPE_BOOL"
              },
              "Employee Flag" : {
                "title" : "Employee Flag",
                "type" : "string",
                "x-maxLength" : "1",
                "x-siebel-datatype" : "DTYPE_BOOL"
              },
              "First Name" : {
                "title" : "First Name",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "50",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Integration Id" : {
                "title" : "Integration Id",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "30",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Joined AKA First Name" : {
                "title" : "Joined AKA First Name",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "50",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Joined AKA Last Name" : {
                "title" : "Joined AKA Last Name",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "50",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Joined AKA Middle Name" : {
                "title" : "Joined AKA Middle Name",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-siebel-readOnly" : "true",
                "x-maxLength" : "50",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Last Name" : {
                "title" : "Last Name",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "50",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "M/F" : {
                "title" : "M/F",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "30",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "M/M" : {
                "title" : "M/M",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "15",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Middle Name" : {
                "title" : "Middle Name",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "50",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Notify on Read" : {
                "title" : "Notify on Read",
                "type" : "string",
                "x-maxLength" : "1",
                "x-siebel-datatype" : "DTYPE_BOOL"
              },
              "PHN" : {
                "title" : "PHN",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "20",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "Personal Contact" : {
                "title" : "Personal Contact",
                "type" : "string",
                "x-maxLength" : "1",
                "x-siebel-datatype" : "DTYPE_BOOL"
              },
              "Potential Duplicate Flag" : {
                "title" : "Potential Duplicate Flag",
                "type" : "string",
                "x-maxLength" : "1",
                "x-siebel-datatype" : "DTYPE_BOOL"
              },
              "Primary Contact Address Id" : {
                "title" : "Primary Contact Address Id",
                "type" : "string",
                "x-maxLength" : "15",
                "x-siebel-datatype" : "DTYPE_ID"
              },
              "SIN" : {
                "title" : "SIN",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "20",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "CSA DIN" : {
                "title" : "CSA DIN",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "9",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "CSA Sent Date" : {
                "title" : "CSA Sent Date",
                "type" : "string",
                "x-maxLength" : "32",
                "x-siebel-datatype" : "DTYPE_UTCDATETIME"
              },
              "CSA Status" : {
                "title" : "CSA Status",
                "type" : "string",
                "x-siebel-precision" : "0",
                "x-maxLength" : "30",
                "x-siebel-scale" : "0",
                "x-siebel-datatype" : "DTYPE_TEXT"
              },
              "CSA Status Effective Date" : {
                "title" : "CSA Status Effective Date",
                "type" : "string",
                "x-maxLength" : "32",
                "x-siebel-datatype" : "DTYPE_UTCDATETIME"
              },
              "Link" : {
                "type" : "object",
                "properties" : {
                  "rel" : {
                    "title" : "rel",
                    "type" : "string"
                  },
                  "href" : {
                    "title" : "href",
                    "type" : "string"
                  },
                  "name" : {
                    "title" : "name",
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      },
      "data_ICMContact_ICMContact_get_all_response" : {
        "type" : "object",
        "properties" : {
          "items" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/data_ICMContact_ICMContact_get_one_response"
            }
          },
          "Link" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "rel" : {
                  "title" : "rel",
                  "type" : "string"
                },
                "href" : {
                  "title" : "href",
                  "type" : "string"
                },
                "name" : {
                  "title" : "name",
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "data_ICMContact_ICMContact_del_response" : {
        "type" : "object"
      }
    },
    "securitySchemes" : {
      "basicAuth" : {
        "type" : "http",
        "scheme" : "basic"
      },
      "oAuth2.0" : {
        "type" : "oauth2",
        "flows" : {
          "implicit" : {
            "authorizationUrl" : "http://openAPI.io/",
            "scopes" : {
              "write:" : "modify",
              "read:" : "read only"
            }
          }
        }
      }
    }
  },
  "x-original-swagger-version" : "3.0"
}