.page {
    display: flex;
    flex-direction: column;
    gap: var(--layout-margin-large);
    max-width: 900px;
    width: 100%;
}

.sectionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--layout-margin-medium);
    flex-wrap: wrap;
    margin-bottom: var(--layout-margin-medium);
}
