.page {
    display: flex;
    flex-direction: column;
    gap: var(--layout-margin-large);
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

.heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--layout-margin-medium, 16px);
}
